@import url('https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&display=swap');
/**{
    border: 1px solid green;
}*/

html {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../sources/pannocchie.jpg') center/cover no-repeat fixed;
    z-index: -1;
}

.cookie-container {
    width: 900px;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f4f4f4;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 7px;    
    font-size: 20px;
}

.cookie-text {
    text-align: center;
    padding: 0 100px;
}

.cookie-text p {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
}

.cookie-text p span {
    display: flex;
    align-items: center; /* Centra verticalmente */
}

.cookie-text p span img {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.cookie-button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    margin-top: 20px;
}

.cookie-button {
    background: #245254;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    width: 100px;
    text-align: center;
}

.cookie-button:hover{
    background: #8EBCB1;
    color: #245254;
    transition: all .3s ease-in-out;
}

.accetta-rifiuta-cookie{
    display: flex;
}

.altre-info-button{
    background: #8EBCB1;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 25px;
    cursor: pointer;
}

.altre-info-button:hover{
    background: #245254;
    color: #8EBCB1;
    transition: all .3s ease-in-out;
}

.main-container {
    background: url('../sources/wallpaper5.png') center/cover no-repeat;
    color: #ffffff;
    height: 110vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.logo img {
    height: 100px;
    padding-left: 100px;
    padding-top: 90px;
}

.nav-links {
    display: flex;
    margin-right: 50px;
    padding-top: 90px;

}

.nav-links a {
    color: #245254;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.2s;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-links .select {
    background-color: #245254;
    color: #8EBCB1;
}

.nav-links a:hover {
    background-color: #245254;
    color: #8EBCB1;
}

.main-page {
    display: flex;
    margin-top: 20px;
    height: 80%;
}

.right-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-column img {
    margin-left: 27%;
    height: 100%;
    margin-top: 14%;
}

.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.about-item img {
    width: 50px;
    margin-right: 20px;
    margin-left: 15%;
    margin-bottom: 5%;
}

.laurea {
    font-size: 25px;
    margin-right: 1%;
    margin-bottom: 5%;
    color: #8EBCB1;
    max-width: 400px;
}

.titolo-piccolo {
    font-size: 20px;
    margin-left: 15%;
    color: #8EBCB1;
    font-style: italic;
    text-align: left;
}

.titolo-grande {
    font-size: 36px;
    font-weight: bold;
    margin-left: 15%;
    margin-bottom: 5%;
    color: #FFD700;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-me-button {
    margin-left: 15%;
    margin-bottom: 5px;
}

.about-me-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8EBCB1;
    color: #245254;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.about-me-button a:hover {
    background-color: #245254;
    border: 1px solid #8EBCB1;
    color: #8EBCB1;
    padding: 9px 19px;
    transition: 0.6;
}

.social {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 4%;
    margin-bottom: 5%;
}

.social img {
    width: 50px;
    margin-right: 20px;
    transition: width 0.2s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.social .yt img{
    width: 70px;
}

.social img:hover {
    transform: scale(1.3);

}



.riga-info {
    margin-top: 3.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #245254;
    opacity: 1;
    /* Opacità iniziale a 0 */
    transition: opacity 1s ease-out;
    /* Transizione dell'opacità */
}

.colonna {
    text-align: center;
    width: 30%;
    border-right: 1px solid #ffffff;
}

.colonna:last-child {
    border-right: none;
}

.riga-info p {
    margin: 0;
    font-style: italic;
}



.number {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #FFD700;
}

.descrizione {
    font-size: 30px;
    font-weight: bold;
    color: white;
}


.spazio {
    height: 20vh;
    background-color: #D9D9D9;
}

.spazio h1 {
    color: #245254;
    padding-top: 100px;
    margin-left: 125px;
}

.trasparente {
    height: 80vh;
    background-color: transparent;
    position: relative;
}

.contattami {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    background-color: #245254;
    color: #ffffff;
    padding: 40px;
    width: 20%;
    /*   border-radius: 20px ;*/
}

.contattami h1 {
    color: #8EBCB1;
    font-size: 25px;
    font-weight: 300;
}

.contattami p {
    color: #D9D9D9;
    font-size: 25px;
    width: 90%;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #245254;
    color: #8EBCB1;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
    border: 1px solid #8EBCB1;
}

.contact-button a:hover {
    background-color: #8EBCB1;
    color: #245254;
    transition: 0.6;
}

.popup,
.popup-info {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #245254;
    color: #8EBCB1;
    padding: 70px;
    z-index: 1001;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    /* Aggiunto per transizioni fluide */
}

.popup.open,
.popup-info.open {
    transform: translate(-50%, -50%);
    opacity: 1;
}


.popup-content {
    text-align: center;
}

.popup-content h2 {
    font-size: 25px;
}

.popup-content p {
    font-size: 20px;
}

.popup-content a{
    color: #8EBCB1;
}

.popup button,
.popup-info button {
    background-color: #8EBCB1;
    color: #245254;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.popup button:hover,
.popup-info button:hover {
    color: #8EBCB1;
    background-color: #245254;
    border: 1px solid #8EBCB1;
    margin-top: 8px;
}


.info {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    background-color: #D9D9D9;
    padding: 20px 0px 100px 0px;
    overflow: auto;
    justify-content: center;
}

.info-block {
    flex: 1;
    flex-wrap: wrap;
    background-color: #245254;
    /* Bianco */
    padding: 20px;
    overflow: auto;
    max-width: calc(40% - 20px);

}

.info-block p {
    font-size: 18px;
    color: #D9D9D9;
}

.info-block h1 {
    color: #8EBCB1;
}

.collaborazioni {
    background-color: #fff;
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 100%;
    padding: 100px 100px 120px 100px;
    height: 30%;
}

.titolo-collab {
    text-align: left;
    padding-left: 2%;
    padding-bottom: 30px;
    color: #245254;
}

.contenitore-carte {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    height: 30px;
}

.collaborazioni .card {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 10px;
}

.collaborazioni .card img {
    width: 100%;
    height: auto;
    max-width: 80%;
}

.recensioni-totale {
    background-color: #D9D9D9;
    padding: 100px 100px;
}

.titolo-recensioni {
    text-align: left;
    padding-left: 2%;
    color: #245254;
}

.recensioni {
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    justify-content: center;
}

.recensione-img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: all 0.5s;
    margin-bottom: 20px;

}

.recensione-img:hover {
    opacity: 0.8;
}

.video-wrapper{
    background-color: #245254;
    margin: 0;
    padding: 0;
    border-top: 10px solid black;
    height: 70%;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Disposizione in griglia fluida */
    gap: 30px;
    justify-items: center; /* Centra i contenuti nella griglia */
    padding: 20px 100px;
    height: 40%;
}

.video-section, .video-block {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%; /* Imposta larghezza al 100% del contenitore */
    height: 100%; /* Altezza proporzionale */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.title-video {
    text-align: left;
    padding-top: 40px;
    color: white;
    padding-left: 100px;
    margin-bottom: 30px;
}

.title-video h1, .title-video h3 {
    margin: 0;
    color: white;
    font-size: 2rem;
}

.subscribe-box{
    background-color: rgb(161, 5, 5);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    text-decoration: none;
    color: inherit;
}


.text-youtube{
    line-height: 1px;
}



.footer {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-size: 20px;
}

.footer-column {
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons img {
    width: 25px;
    margin: 0 5px;
}

.footer .site-map a:nth-child(2){
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}



/*  tenere nel caso in cui serva inserire un social con i follower*/

/*.nickname {
    font-size: 23px;
    margin-right: 10%;
}

.followers {
    font-size: 17px;
    color: #8EBCB1;
    /* Colore del testo per i follower 
}*/


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 770px) {

    /**{
        /*background-color: #245254; */
    /*    border: 1px solid green        
    }*/
    body {
        overflow-x: hidden;
        background-color: #245254
    }

    body::before {
        overflow: hidden;
        display: none;
    }

    .cookie-container{
        width: 100vw;
        bottom: 0;
    }

    .cookie-text{
        font-size: 15px;
        padding: 15px;
        width: 70%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .cookie-text p span img {
        height: 20px;
        margin-left: -2px;
        margin-right: -2px;
    }

    .cookie-button-container{
        flex-direction: column-reverse;;
        gap: 10px;
    }

    .altre-info{
        width: 70%;
        text-align: center;
    }

    .accetta-rifiuta-cookie{
        width: 70%;
        justify-content: space-between;
    }

    .main-container {
        background: url('../sources/wallpaper_mobile.png')center/cover no-repeat;
        width: 100%;
    }

    .main-page {
        flex-direction: column;
        height: fit-content;
    }

    .navbar {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
    }

    .nav-links {
        display: flex;
        margin-right: 0;
        padding: 0;
        padding-top: 50px;
    }

    .nav-links a {
        background-color: transparent;
        color: #8EBCB1;
        text-decoration: none;
        float: right;
        right: 0;
        font-size: 80%;
        margin-left: 10px;
        padding: 5px 10px;
    }

    .nav-links a:last-child {
        margin-right: 5px;
    }

    .nav-links a:first-child {
        margin-left: 15px;
    }

    .nav-links .select {
        background-color: #8EBCB1;
        color: #245254;
    }

    .logo img {
        height: 50px;
        padding-left: 5px;
        padding-top: 50px;
        margin-right: 15px;
    }

    .right-column,
    .left-column {
        width: 100%;
    }

    .left-column {
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .about-item {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
        text-align: center;
    }

    .about-item img {
        display: none;
    }

    .laurea {
        margin: 0;
        font-size: 23px;
        text-align: center;
        padding: 2%;
    }

    .titolo-piccolo {
        font-size: 19px;
        margin: 0;
        margin-top: 5%;
        color: #8EBCB1;
        font-style: italic;
        text-align: center;
    }

    .titolo-grande {
        font-size: 23px;
        margin: 0;
        font-weight: bold;
        margin-bottom: 5%;
        color: #FFD700;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .social {
        padding-top: 20px;
        display: flex;
        align-items: center;
        margin: 0;
        margin-bottom: 3%;
        flex-direction: row;
        gap: 20px;
    }

    .social img {
        margin: 0;
        width: 40px;
        transition: filter 0.s;
    }

    .social .yt img{
        width: 50px;
    }

    .social img:hover {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    }

    .about-me-button {
        margin: 0;
    }

    .about-me-button a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #8EBCB1;
        color: #245254;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-size: 20px;
    }

    .about-me-button a:hover {
        background-color: #245254;
        border: 1px solid #8EBCB1;
        color: #8EBCB1;
        padding: 9px 19px;
        transition: 0.6;
    }

    .right-column {
        max-height: calc(55vh - 28px);
        overflow-y: hidden;
    }

    .right-column img {
        margin-left: 0;
        width: 75%;
        margin-top: 0px;
        height: auto;
        margin-bottom: 20px;
        display: block;
        overflow: visible;
    }

    .riga-info {
        flex-direction: column;
        height: 50%;
        margin-top: 0;
        padding-top: 10px;
        background-color: #D9D9D9;
        /*       border-bottom: 1px solid #245254;*/
    }

    .colonna {
        width: 100%;
        border-right: none;
        margin-bottom: 10px;
        padding-top: 25px;
    }

    .riga-info .colonna:last-child {
        margin-bottom: 30px;
    }


    .number {
        font-size: 45px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .descrizione {
        font-size: 25px;
        color: #245254;
    }

    .trasparente {
        height: 50vh;
        background: url("../sources/pannocchie.jpg") center/cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .contattami {
        background-color: #245254;
        color: #ffffff;
        padding: 25px;
        text-align: center;
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .contattami h1 {
        font-size: 17px;
        text-align: center;
    }

    .contattami p {
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding-bottom: 10px;
        width: 100%;
    }

    .contact-button a {
        font-size: 15px;
        padding-top: 10px;
    }

    .popup,
    .popup-info {
        padding: 40px;
    }

    .popup-content {
        width: 100%;
        text-align: center;
    }

    .spazio {
        height: 10vh;
    }

    .spazio h1 {
        font-size: 23px;
        padding-top: 70px;
        margin-top: 0;
        margin: 0;
        text-align: center;
    }

    .info {
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .info-block {
        max-width: 70%;
    }

    .info-block h1 {
        font-size: 20px;
    }

    .info-block p {
        font-size: 17px;
    }

    .collaborazioni {
        padding: 50px 20px 0px 20px;
        font-size: 10px;
    }

    .titolo-collab {
        text-align: center;
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    .contenitore-carte {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .recensioni-totale {
        padding: 50px 20px;
    }

    .recensioni {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .titolo-recensioni {
        text-align: center;
        font-size: 10px;
    }

    .video-wrapper{
        padding-bottom: 100px;
        height: min-content;
    }

    .video-container {
        padding: 20px 50px; 
        height: min-content;
    }
    .title-video {
        padding-left: 0; 
        text-align: center;      
    }

    .title-video h1, .title-video h3 {
        font-size: 1.5rem;
    }

    .subscribe-box {
        width: 80%; 
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .footer {
        flex-direction: column;
        font-size: 25px;
    }

    .footer-column {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .footer .site-map{
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 20px;
    }

    .footer .site-map a:nth-child(2){
        margin-left: 7px;
    }
    
}